body {
  font-family: "comic-sans", serif;
  font-weight: 300;
}

h1 {
  font-size: 40px; /* Adjust font size as needed */
  font-weight: bold; /* Adjust font weight as needed */
  color: #333; /* Adjust font color as needed */
}

body {
  background-color: white; /* Grey background color */
}
